backports.weakref==1.0rc1
bleach==3.1.4
grpc-wrapper==0.4
grpcio==1.8.4
html5lib==0.9999999
Markdown==2.2.0
nltk==3.4.5
numpy==1.13.3
protobuf==3.5.1
six==1.11.0
tensorflow-gpu==1.0.1
Werkzeug==0.15.3
requests
googletrans